[submodule "third_party/MicroPython_Skills"]
	path = third_party/MicroPython_Skills
	url = https://github.com/FreakStudioCN/MicroPython_Skills
[submodule "third_party/GraftSense-Drivers-MicroPython"]
	path = third_party/GraftSense-Drivers-MicroPython
	url = https://github.com/FreakStudioCN/GraftSense-Drivers-MicroPython
